<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Planet Express</title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <!-- Had to do this stuff separate b/c foundation 5 MUST be in body, not head -->
    <%= javascript_include_tag :foundation %>
    <%= javascript_tag do %>
      $(function() { $(document).foundation();});
    <% end %>

  </body>
</html>
